<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Overview</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          Single Line Diagram
        </div>
        <div class="panel-body">
          <div class="svg" style="zoom: 140%;">
            <%= render 'home/shared/diagram2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
