<div class="dim-screen bg-darkTeal">
  <div class="login-form padding20 block-shadow">
    <form>
      <h1 class="text-light">Login to Service</h1>
      <hr class="thin" />
      <br />
      <div class="input-control text full-size" data-role="input">
        <input type="text" name="user_email" id="user_email" placeholder="Your email address">
      </div>
      <div class="input-control text full-size" data-role="input">
        <input type="password" name="user_password" id="user_password" placeholder="Your password">
      </div>
      <br />
      <br />
      <div class="form-actions">
        <button type="submit" class="button primary">Login</button>
      </div>
    </form>
  </div>
</div>
