<h1 class="text-light">System Overview <span class="mif-chart-bars place-right"></span></h1>
<hr class="thin bg-grayLighter">
<div id="diagram" class="svg" style="zoom: 140%;">
  <%= render partial: 'diagram', locals: { pm01: @pm01, pm02: @pm02 } %>
</div>
