html, body {
  height: 100%;
}
body {
}
.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    /* height: 100%; */
}
.table .input-control.checkbox {
    line-height: 1;
    min-height: 0;
    height: auto;
}

@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}

.login-form {
  width: 25rem;
  height: 16.75rem;
  position: fixed;
  top: 50%;
  margin-top: -9.375rem;
  left: 50%;
  margin-left: -12.5rem;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.dim-screen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  display: block;
  margin: auto;
}
