<div class="app-bar navy fixed-top" data-role="appbar">
  <a class="app-bar-element branding" href="/">Papua Diving Resort</a>
  <span class="app-bar-divider"></span>
  <span class="app-bar-divider"></span>
  <ul class="app-bar-menu">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Help</a></li>
  </ul>
  <div class="app-bar-element place-right active-container">
    <span class="dropdown-toggle fg-white active-toggle"><span class="mif-cog"></span> Settings</span>
    <div class="app-bar-drop-container padding20 place-right" data-role="dropdown" data-no-close="true" style="width: 220px">
      <h4 class="text-light">Logged in as Reza</h4>
      <%= button_to 'Logout', logout_path, method: :delete, class: 'button danger block-shadow-danger text-shadow' %>
    </div>
  </div>
</div>
